body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #ddd;
    font-size: 16px;
}
.container {
    background: #fff;
}

.header img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.navbar-nav a,
.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.alert {
    font-size: 17px;
}

.navbar-main {
    background-color: #6742a7;
    border: none;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #210022;
}

.navbar-main .dropdown-menu > li > a {
    color: #444;
    font-size: 18px;
}
.navbar-main .dropdown-menu > li > a:hover {
    background-color: #ddd;
}
.navbar-main .dropdown-menu .divider {
    margin: 6px 0;
}

.navbar-main .navbar-nav > li > a,
.navbar-brand {
    text-transform: uppercase;
    font-size: 18px;
}
.navbar-main {
    text-align: center;
    border-radius: 0;
}

.navbar-main .nav {
    width: 90%;
}
.navbar-main .nav > li {
    padding-left: .1%;
    padding-right: .1%;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #e0e0e0;
}
.navbar-inverse .navbar-nav > li.dropdown:hover > a,
.navbar-inverse .navbar-nav > li.dropdown:focus > a {
    color: #fff;
}

/* equal spacing for main menu items */
/* assumes there are a total of seven items */
@media (min-width: 768px) {
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-main .navbar-header {
        width: 12%;
    }
    .navbar-main .navbar-header .navbar-brand {
        width: 100%;
    }
    .navbar-main .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-main .navbar-nav {
        width: 88%;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-main .navbar-nav > li {
        min-width: 14.2%;
        margin-right: 2%;
    }
}

/* show dropdown menu on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

/* center main menu dropdowns */
.navbar-main .dropdown-menu {
    width: 160px;
    left: 50%;
    margin-left: -80px;
}

/* tweak homepage news spacing */
.news h3 {
    margin-top: 6px;
}






/* changes for small screen width */
@media (min-width: 768px) and (max-width: 991px) {
    .news h3 {
        margin-top: 20px;
    }
    .navbar-brand,
    .navbar-main .nav > li > a {
        padding: 15px 0;
        font-size: 16px;
    }
    .navbar-main .dropdown-menu {
        min-width: 140px; /* override parent style */
        width: 140px;
        margin-left: -70px;
    }
    .navbar-main .navbar-nav > li {
        min-width: 12%;
    }
    .navbar-main .dropdown-menu li > a {
        font-size: 15px;
    }
}


